include ./common/head
include ./common/header--logged
main.page-content
  section.comments
    .comments__wrapper
      p.comments__message У ваших публикаций еще нет комментариев.
include ./common/footer
include ./common/scripts
